h2 {
    border: 1px solid blue;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 40px;
    box-sizing: border-box;
}
.block {
    background-color: yellow;
    display: inline;
}
h4 {
    display: inline-block;
}
.alo{
    background-color: yellow;
    font-size: 100px;
    
    float: right;
}
